<div class = "container">

  <div class="row">
    <a href="/" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
      <span><i class="fa fa-cubes"></i></span>
      <br>Top Ranked Movies
    </a>
    <div class="row">
     
        <table class="movie-data">
          <tr>
            <th>
                ID
            </th>
            <th>
              RANK
            </th>
            <th>
              TITLE
            </th>
          </tr>
          <tr *ngFor="let user of movies" class ="column">
            <td>{{user.id}}</td> 
            <td>{{user.rank}}</td> 
            <td>{{user.title}}</td> 
          </tr>
        </table>
      
    </div>
  </div>
</div>